### Q1 = D

### Q2 = C

### Q3 = B

### Q4 = C

### Q5 = D

### Q6 = B

### Q7 = A

### Q8 = C

### Q9 = D

### Q10 = B

### Q11 = D

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('energydata_complete.csv')

In [3]:
train.tail()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [4]:
train.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [5]:
train.shape

(19735, 29)

In [7]:
#dropping irrelevant columns
train = train.drop(['date', 'lights'], axis = 1)

In [9]:
#normalize the dataset using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_train = pd.DataFrame(scaler.fit_transform(train), columns = train.columns)

In [11]:
normalized_train.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [12]:
#separate the dataset into predictors and response

X = normalized_train.drop(['Appliances'], axis = 1)
y = normalized_train['Appliances']

In [13]:
#we go ahead to split the dataset for training and testing using train_test_split 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
# x1 = np.array(normalized_df['T2'])
# y1 = np.array(normalized_df['T6'])
# #we need to reshape the x variable because we have only one predictor here
# x1 = x1.reshape(-1, 1)
# x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.3, random_state = 42)

In [14]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
pred_y = lr.predict(X_test)

### Q 12

In [39]:
x1 = np.array(normalized_train['T2'])
y1 = np.array(normalized_train['T6'])
#we need to reshape the x variable because we have only one predictor here
x1 = x1.reshape(-1, 1)
train_x, test_x, train_y, test_y = train_test_split(x1, y1, test_size = 0.3, random_state = 42)

lr.fit(train_x, train_y)
pred_y = lr.predict(test_x)

from sklearn.metrics import r2_score
r_squared = r2_score(test_y, pred_y)
round(r_squared, 2)

0.64

In [17]:
train_score = lr.score(X_train, y_train)
test_score = lr.score(X_test, y_test)
print("Training score of linear regression model is {:.4f}".format(train_score))
print("Testing score of linear regression model is {:.4f}".format(test_score))

Training score of linear regression model is 0.1447
Testing score of linear regression model is 0.1489

### Q 13

In [18]:
## Finding the Mean Absolute Error

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, pred_y)
print(round(mae, 2))

0.05

### Q 14

In [19]:
## Residual Sum of Squares(RSS)

rss = np.sum(np.square(y_test - pred_y))
print(round(rss, 2))

45.35

### Q 15

In [22]:
## Root Mean Squared Error(RMSE)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred_y))
print(round(rmse, 3))

0.088

### Q 16

In [23]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, pred_y)
round(r_squared, 2)

0.15

### Q 17

In [25]:
#to check the weights of the features using linear regression

def weights(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(lr.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_reg_weights = weights(lr, X_train, 'Linear_model_Weight')
linear_reg_weights

       Features  Linear_model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [40]:
linear_reg_weights['Linear_model_Weight'].min()

-0.4566979483385004

In [41]:
linear_reg_weights['Linear_model_Weight'].max()

0.5535465998386391

### Q 18

In [28]:
## ridge regression with alpha = 0.4

from sklearn.linear_model import Ridge

ridge = Ridge(alpha = 0.4)
ridge.fit(X_train, y_train)
ridge_prediction = ridge.predict(X_test)
train_score = ridge.score(X_train, y_train)
test_score = ridge.score(X_test, y_test)
print("Training score {:.3f}".format(train_score))
print("Testing score {:.3f}".format(test_score))

Training score 0.145
Testing score 0.149

In [29]:
## Root Mean Squared Error(RMSE) for ridge model

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, ridge_prediction))
print(round(rmse, 3))

0.088

### Q 19

In [34]:
## lasso model with alpha = 0.001

from sklearn.linear_model import Lasso

lasso = Lasso(alpha = 0.001)
lasso.fit(X_train, y_train)
lasso_pred = lasso.predict(X_test)
train_score = lasso.score(X_train, y_train)
test_score = lasso.score(X_test, y_test)
print("{:.3f}".format(train_score))
print("{:.3f}".format(test_score))
print("Number of features for training: {:.3f}".format(np.sum(lasso.coef_ != 0)))

0.025
0.027
Number of features for training: 4.000

### Q 20

In [35]:
## Root Mean Squared Error(RMSE) for lasso model

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
print('Root Mean Squared Error for ridge model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for ridge model: 0.094